.Button{
    padding: 10px 20px;
    outline: none;
    font-size: 10px;
    background: none;
    border-radius: 15px;
    font-weight: bold;
    margin: 10px;



}
.Button:hover{
    outline: none;
    box-shadow: inset 0px 0px 5px 0px  rgba(0,0,0, 0.7);
}


.Button:active{
    outline: none;
}
.red{
    background: #EC4621;
    color: white;

}
.green{
    background: rgba(66, 191, 59, 1);
    color: white;

}




.disabled{

}