.Input input{
    border: 1px solid grey;
    padding: 7px 10px;
    border-radius: 10px;
    margin: 5px;
    outline: none;
    width: 50%;
    height: 20px;


}


.Input input:active{
    outline: none;
}
.Input input:hover{
    outline: none;
}

.Input label{
    font-size: 10px;
    color: grey;
}


.Input .error{
    color: red;
    border: 1px solid red;
}