.Landing{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid red

}
.Landing div{

    border: 1px solid red;
}

.Landing i {
    font-size: 400px;

}